<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let product of productList" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{ product.id }}">
              <img src="{{ product.imageUrl }}" class="img-responsive" />
            </a>
            <a routerLink="/products/{{ product.id }}">
              <h1>{{ product.name }}</h1>
            </a>
            <div class="price">{{ product.unitPrice | currency : "USD" }}</div>
            <button class="btn btn-primary">Add to cart</button>
          </div>
        </div>
        <div
          *ngIf="productList?.length == 0"
          class="alert alert-warning col-md-12"
          role="alert"
        >
          <h3>No products found ... 🤐</h3>
        </div>
      </div>
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">
                <ngb-pagination
                  [(page)]="thePageNumber"
                  [pageSize]="thePageSize"
                  [collectionSize]="totalElements"
                  (pageChange)="listProducts()"
                ></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <table class="table">
  <thead class="thead-dark">
    <tr>
      <td>Image</td>
      <td>Name</td>
      <td>Price</td>
      <td>Units in Stock</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList">
      <td>
        <img src="{{ product.imageUrl }}" height="50" />
      </td>
      <td>
        {{ product.name }}
      </td>
      <td>
        {{ product.unitPrice }}
      </td>
      <td>
        {{ product.unitsInStock }}
      </td>
    </tr>
  </tbody>
</table> -->
