<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div *ngIf="cartItems.length > 0">
        <table class="table table-bordered">
          <tr>
            <th width="40%">Product Image</th>
            <th width="40%">Product Details</th>
            <th width="20%"></th>
          </tr>
          <tr *ngFor="let tempCartItem of cartItems">
            <td><img src="{{ tempCartItem.imageUrl }}" /></td>
            <td>
              <p>{{ tempCartItem.name }}</p>
              <p>{{ tempCartItem.unitPrice | currency : "USD" }}</p>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-start">
                <label class="me-2">Quantity:</label>

                <button
                  (click)="incrementQuantity(tempCartItem)"
                  class="btn btn-primary btn-sm"
                >
                  <i class="fas fa-plus"></i>
                </button>

                <span class="mx-3">{{ tempCartItem.quantity }}</span>

                <button class="btn btn-primary btn-sm">
                  <i class="fas fa-minus"></i>
                </button>
              </div>

              <p class="mt-2">
                Subtotal:
                {{
                  tempCartItem.quantity * tempCartItem.unitPrice
                    | currency : "USD"
                }}
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td style="font-weight: bold">
              <p>Total Quantity: {{ totalQuantity }}</p>
              <p>Total Price: {{ totalPrice | currency : "USD" }}</p>
              <a routerLink="/checkout" class="btn btn-primary">Checkout</a>
            </td>
          </tr>
        </table>
      </div>
      <div
        *ngIf="cartItems.length == 0"
        role="alert"
        class="alert alert-warning col-md-12"
      >
        <h3>There are no items in your cart 🤦‍♂️</h3>
      </div>
    </div>
  </div>
</div>
